/**********
 * Assets *
 **********/

/***************
 * Resize grip *
 ***************/

.grip, grip {
	background-image: url("assets/resize-grip.png"); }

/***************
 * Scrollbar *
 ***************/

scrollbar.vertical slider, scrollbar.vertical .slider, .scrollbar.vertical slider, .scrollbar.vertical .slider {
	background-image: url("assets/scrollbar-v.png");
	background-repeat: no-repeat;
	background-position: center;
}

scrollbar.horizontal slider, scrollbar.horizontal .slider, .scrollbar.horizontal slider, .scrollbar.horizontal .slider {
	background-image: url("assets/scrollbar-h.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*************************
 * Check and Radio items *
 *************************/
/*
check,
check row:selected,
check row:selected:focus {
	background-image: url("assets/checkbox-unchecked.png");
}

check:insensitive,
check row:selected:insensitive,
check row:selected:focus:insensitive {
	background-image: url("assets/checkbox-unchecked-insensitive.png");
}

check:active,
check row:selected:active,
check row:selected:focus:active {
	background-image: url("assets/checkbox-checked.png");
}

check:active:insensitive,
check row:selected:active:insensitive,
check row:selected:focus:active:insensitive {
	background-image: url("assets/checkbox-checked-insensitive.png");
}

check:inconsistent,
check row:selected:inconsistent,
check row:selected:focus:inconsistent {
	background-image: url("assets/checkbox-mixed.png");
}

check:inconsistent:insensitive,
check row:selected:inconsistent:insensitive,
check row:selected:focus:inconsistent:insensitive {
	background-image: url("assets/checkbox-mixed-insensitive.png");
}

radio,
radio row:selected,
radio row:selected:focus {
	background-image: url("assets/radio-unchecked.png");
}

radio:insensitive,
radio row:selected:insensitive,
radio row:selected:focus:insensitive {
	background-image: url("assets/radio-unchecked-insensitive.png");
}

radio:active,
radio row:selected:active,
radio row:selected:focus:active {
	background-image: url("assets/radio-checked.png");
}

radio:active:insensitive,
radio row:selected:active:insensitive,
radio row:selected:focus:active:insensitive {
	background-image: url("assets/radio-checked-insensitive.png");
}

radio:inconsistent,
radio row:selected:inconsistent,
radio row:selected:focus:inconsistent {
	background-image: url("assets/radio-mixed.png");
}

radio:inconsistent:insensitive,
radio row:selected:inconsistent:insensitive,
radio row:selected:focus:inconsistent:insensitive {
	background-image: url("assets/radio-mixed-insensitive.png");
}
*/


/* progress */

progressbar.horizontal progress:not(:disabled):not(:backdrop) {
    background-image: url("assets/progress-h.png");
    background-repeat: repeat-x;
}

progressbar.vertical progress:not(:disabled):not(:backdrop) {
    background-image: url("assets/progress-v.png");
    background-repeat: repeat-y;
}

/*********
 * Menus *
 *********/
/*
.menu .menuitem.check {
	background-image: none;
}

.menu .menuitem.check:active {
	background-image: url("assets/menuitem-checkbox-checked.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:active:hover {
	background-image: url("assets/menuitem-checkbox-checked-selected.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:active:insensitive {
	background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent,
.menu .menuitem.radio:inconsistent {
	background-image: url("assets/menuitem-checkbox-mixed.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent:insensitive,
.menu .menuitem.radio:inconsistent:insensitive {
	background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent:hover,
.menu .menuitem.radio:inconsistent:hover {
	background-image: url("assets/menuitem-checkbox-mixed-selected.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active {
	background-image: url("assets/menuitem-radio-checked.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active:hover {
	background-image: url("assets/menuitem-radio-checked-selected.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active:insensitive {
	background-image: url("assets/menuitem-radio-checked-insensitive.png");
	background-repeat: no-repeat;
}
*/

/*********
 * Panes *
 *********/

paned.horizontal > separator {
	background-image: url('assets/pane-separator-grip-horz.png');
	background-repeat: no-repeat;
	background-position: center;
	min-width: 7px;
  	min-height: 47px;
}

paned.vertical > separator {
	background-image: url('assets/pane-separator-grip-vert.png');
	background-repeat: no-repeat;
	background-position: center;
	min-width: 47px;
	min-height: 7px;
}

/**************
 * Scrollbars *
 **************/
/*
.scrollbar.slider.horizontal {
	background-image: url("assets/slider-horz-grip.png");
	background-repeat: no-repeat;
	background-position: center;
}

.scrollbar.slider.vertical {
	background-image: url("assets/slider-vert-grip.png");
	background-repeat: no-repeat;
	background-position: center;
}
*/
